/* Codecademy Intensive Pro "Build Websites From Scratch": Unit 3, Day 7. Submission by P.Mroz. */
body {
  font-family: Helvetica;
  text-align: center;
}
p {
  font-size: 14px;
}
p.footer {
  text-align:left;
  color: white;
  font-size: 11px;
  background-color: dimgray;
}
.navigation{
    color: white;
    font-size: 18px;
}
h1{
  font-size: 70px;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 23px;
  }
/* h3.subheading {
  color: white;
}*/
/*.heading {
  font-weight: bold;
  color: white;
}*/
.title{
  background-image: url("../images/the-flatiron-building.png");
  font-weight: bold;
  color: white;
}
